---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="flex flex-col justify-center items-center">
				<div
					class="rounded-full w-1/4 aspect-square bg-cover min-w-32"
					style="background-image: url('/ayin.png');"
				>
				</div>
				<div class="text-5xl pt-3 font-bold">Y's blog</div>
				<div class="pt-3 text-neutral-500">Face the Fear, Build the Future</div>
				<div class="pt-5 flex flex-wrap gap-2 justify-center">
					{
						[
							"kotlin-icon",
							"java",
							"python",
							"javascript",
							"npm-icon",
							"astro-icon",
							"html-5",
							"tailwindcss-icon",
							"git-icon",
							"linux-tux",
							"docker-icon",
							"obsidian-icon",
							"markdown",
						].map((it) => (
							<div class="flex flex-row items-center bg-blue-100 rounded ps-1/2 pe-1">
								<Icon name={"logos:" + it} class="mx-2 " />
								<div class="text-nowrap text-lg text-blue-600 capitalize">{it.replace(/-.*/, "")}</div>
							</div>
						))
					}
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
